$color-fondo-body: #874c00;
$color-fondo-body5: #010d16;
$color-fondo-header: #da922e;
$color-fondo-boton: #da922e;
$color-texto-boton: white;
$color-textoH1: #031c30;
$color-texto-p: #f6a93d;
$color-fondo-footer: #333;
$color-texto-footer: white;
